Package: com.tnhdev.fun.screenmysaver
Name: ScreenMySaver
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Launch Any App like Screen Saver!
Maintainer: tnhdev
Author: tnhdev
Section: Tweaks
